@import "../styles/base.scss";

$spacerHeight: $navBarHeight + 2 * $padding;
.navBarSpacer {
  height: $spacerHeight;
}

.spacer {
  height: $spacerHeight;
}

.main {
  height: 100vh;
  background-color: $neutral-bg;
  .landing {
    text-align: center;
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bio {
  padding: $spacerHeight $padding;
  background-color: $neutral-bg;
  font-size: 1.1em;
  line-height: 2em;
  border-top: 1px solid $medium-contrast-bg;
  vertical-align: middle;
  text-align: center;

  .avatar {
    max-width: 50%;
    max-height: 150px;
  }

  .thirds {
    vertical-align: middle;
  }
}

.showcase {
  padding: $spacerHeight $padding;
  background-color: $low-contrast-bg;

  h1 {
    margin-bottom: 50px;
  }

  h1:not(:first-child) {
    margin: 50px 0;
  }

  .card {
    background-color: $neutral-bg;
    border-bottom: 1px solid $medium-contrast-bg;
    padding: $padding;
    line-height: 1.5em;
    h2 {
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: $mediumPageWidth) {
  .main {
    .landing {
      font-size: 4em;
    }
  }
}

@media screen and (max-width: $maxMobileWidth) {
  .main {
    .landing {
      font-size: 2em;
    }
  }
}
