@import "../styles/base.scss";

$navBarHeight: 50px;
.navBar {
  color: $high-contrast-text;
  width: calc(100% - 2 * 10px);
  padding: 10px;
  line-height: $navBarHeight;
}

.logo {
  display: inline-block;
}

.navItems {
  float: right;
}

.collapseIcon {
  width: $navBarHeight - 2*10px;
  height: $navBarHeight - 2*10px;
}

button {
  display: none;
  float: right;
  background: $neutral-bg;
  height: $navBarHeight;
}

button:hover {
  background: $low-contrast-bg;
}

a {
  text-decoration: none;
  color: $high-contrast-text;
}

.link {
    display: inline-block;
}

.link:hover {
    background: $low-contrast-bg;
  }

@media screen and (max-width: 600px) {
  .navItems {
    display: none;
  }

  .navItems.open {
    float: none;
    display: block;
    text-align: left;
  }

  button {
    display: block;
  }

  .link {
    display: block;
}
}
