@import "../styles/base.scss";

.photoGrid {
  display: flex;
  flex-wrap: wrap;

  .photoThumb {
    height: 20vh;
    flex-grow: 1;
    padding: $padding;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .card {
    background-color: $neutral-bg;
    border-bottom: 1px solid $medium-contrast-bg;
    line-height: 1.5em;
    color: $medium-contrast-text;
    height: 100%;
    min-width: 6em;
    position: relative;

    .more {
      color: $low-contrast-text;
      font-size: 1.5em;
    }
  }
}
